.title{
    margin: auto;
    padding-top: 1rem;
    text-align: center;
}

.inputs{
    width: 100%;
}

.mainContainer{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.results{
    width: 100%;
}